<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Responses</title>
    </head>
    <body>
        <div style = "margin: 20px; padding: 10px; border: 2px solid black">
            <h1 style = "text-decoration: underline">Submitted Info</h1>
            <p>Name: @ViewBag.Name</p>
            <p>Dojo Location: @ViewBag.Dojo</p>
            <p>Favorite Language: @ViewBag.Lang</p>
            <p>Comment: @ViewBag.Comment</p>
        </div>
    </body>
</html>